@use '../abstaract'as *;

.clients {

    .header {
        margin: 0 0 -20px 0;
    }

    &__company {
        font-size: 40px;
        height: 140px;
        margin: 0 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            max-width: 200px;
        }
    }
}