$containerSize: 1440px;
$gutterGap: 15px;

$mainFontFamily: "Poppins",
sans-serif;
$bodyBgColor: #222222;
$mainColor: #d5d5d5;
$secondaryColor: #007ced;
$thirdColor: #fff;
$navigationLinkColor: #f5f5f5;

$headerLineBgColor: #353535;

$factsBgColor: #333;
$factsBorderColor: #444;

$testmonialsBgColor: #282828;